:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Selection Box Style */
.selection-box {
  border: 1px solid #55aaff;
  background-color: rgba(75, 160, 255, 0.3);
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  display: none;
}

/* Loader Style */
.loader {
  width: 12px;
  height: 12px;
  border: 2px solid #e0e0e0; /* Light grey */
  border-top: 2px solid #333; /* Darker grey/black for contrast */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
